.header{
    /* background: #39424ec5; */
    background: rgb(255, 255, 255);
    /* color: white; */
    margin: 0  80px;
    margin-bottom: 10px;
    box-shadow: 0 3px 10px 0 rgb(0 0 0 / 20%);
    border-radius: 0 0 5px 5px ;
    text-align: center;
    padding-bottom: 10px;
}
.header h1, p{
    margin: 0;

}
.header h3{
    margin: 10px;


}
.header span{
    color: rgb(39, 221, 69);
}