@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

.programmer{
    padding: 25px;
    background-color:  white;
    /* height: 500px; */
    box-shadow: 0 3px 10px 0 rgb(0 0 0 / 10%);
    border-radius: 10px;
}
.programmer .top-container{
    text-align: center;

}
.programmer .top-container h2{
    margin: 0;
}
.top-container p{
    font-family: 'Source Code Pro', monospace;
    color: #576871;
}
.programmer img{
    border-radius: 50%;
    height: 120px;
}
.programmer .details{
    margin-top: 2em;
    display: grid;
    grid-template-columns: 2em 1fr;
    min-height: 15em;
    margin-bottom: 1.5em;
}
.programmer .details *{
    font-size: 18px;
}
.programmer .details .icon{
    padding-top: 3px;
    color: rgba(0, 0, 0, 0.651);
}
.programmer button{
    width: 100%;
    border: none;
    border-radius: 5px;
    color: white;
    padding: .7em 1.5em;
    background-color: black;
    cursor: pointer;
}